
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  min-height: 100%;
}

#form-wrap{

  background-color: lightgray;
  width: 100%;
  height: 100%;
}


#form-div{
  background: linear-gradient(to bottom,
 rgb(228, 78, 228),
  aqua);
  width:47%;
  margin: auto;
  height: 100%;
  line-height: 100%;
  padding: 20px;
}

#input{
margin-top: 10px;
margin-bottom: 10px;
}
.header{
  margin-top: 20px;
  margin-bottom: 10px;
}

#span{
  display: flex;
  justify-content: space-between;
}
